.jumbotron {
    width: 1497px;
    align-content: center;
    margin-left: 10px;
    
} 

.container {
    width: 1500px;
    height: 900px;
    background: linear-gradient(red, yellow, green);
    margin-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}
 


h1 {
    text-align: center;
    font-size: 80px;
}

#userImageLeft {
    position: relative;
    left: 290px;
    bottom: 100px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

#userImageRight {
    float: right;
    position: relative;
    left: 800px;
    bottom: 350px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

 #textSearchA {
    width: 214px;
    height: 35px;
    position: absolute;
    bottom: 300px;
    left: 304px;
} 

.input-group-btnA {
    position: absolute;
    bottom: 300px; 
    left: 515px; 
}

#textSearchB {
    width: 214px;
    height: 35px;
    position: absolute;
    bottom: 280px;
    left: 304px;
}

.input-group-btnB {
    position: absolute;
    bottom: 280px; 
    left: 515px; 
}

#textSearchC {
    width: 214px;
    height: 35px;
    position: absolute;
    bottom: 340px;
    left: 895px;
}

.input-group-btnC {
    position: absolute;
    bottom: 340px; 
    left: 1108px; 
}

#textSearchD {
    width: 214px;
    height: 35px;
    position: absolute;
    bottom: 280px;
    left: 895px;
}

.input-group-btnD {
    position: absolute;
    bottom: 280px; 
    left: 1108px; 
    } 
    
     .btn-group {
         text-align: center;
         
     }
    
    #map1 {
        background-color: white;
        font-size: 20px;
        height: 150px;
        width: 150px;
        position: absolute;
        left: 50px;
        top: -100px;
        border-style: solid;
        border-width: 3px;
        border-color: black;
    
    }
    
    #map2 {
        background-color: white;
        font-size: 20px;
        height: 150px;
        width: 150px;
        position: absolute;
        top: -100px;
        left: 345px;
        border-style: solid;
        border-width: 3px;
        border-color: black;
        
        
    }
    
    #map3 {
        background-color: white;
        font-size: 20px;
        height: 150px;
        width: 150px;
        position: absolute;
        top: -100px;
        left: 645px;
        border-style: solid;
        border-width: 3px;
        border-color: black;
    }
    
    #map4 {
        background-color: white;
        font-size: 20px;
        height: 150px;
        width: 150px;
        position: absolute;
        top: -100px;
        left: 935px;
        border-style: solid;
        border-width: 3px;
        border-color: black;
        
    }
    
    #map5 {
        background-color: white;
        font-size: 20px;
        height: 150px;
        width: 150px;
        position: absolute;
        top: -100px;
        left: 1223px;
        border-style: solid;
        border-width: 3px;
        border-color: black;
    }

    .userFormLeft {
        width: 225px;
        position: absolute;
        left: 80px;
        bottom: 360px;
    }
   
    .userFormRight {
        width: 225px;
        position: absolute;
        left: 1215px;
        bottom: 360px;
    }

    .winsLeft {
        width: 75px;
        position: absolute;
        bottom: 210px;
        left: 80px;
}

    .lossesLeft {
        width: 75px;
        position: absolute;
        bottom: 145px;
        left: 80px;
}

    .winsRight {
        width: 75px;
        position: absolute;
        bottom: 210px;
        left: 1362px;
}

    .lossesRight {
        width: 75px;
        position: absolute;
        bottom: 145px;
        left: 1362px;
}

#chooseBattleground {
        width: 330px;
        border-style: solid;
        border-width: 3px;
        border-color: black;
        background-color: white;
        padding: 5px;
        position: absolute;
        bottom: -120px;
        left: 600px;
        text-align: center;

}



 